*.elc

auto-save-list/
backup/
cedet/
el-get/
elpa/
eshell/
games/
icons/
image-dired/
lib/
org/
semanticdb/
slime/
themes/
thumbs/
url/
yasnippet/

misc/temporary-stuff.el
misc/twittering.gpg

.emacs.desktop
.emacs.desktop.lock
abbrev_defs
ac-comphist.dat
anything-c-adaptive-history
bmk-bmenu-state.el
emacs.bmk
minimal-init.el
org-clock-save.el
project-roots
recentf
recentf~
savehist
saves
slime-history.eld
smex.save
tramp
